{% extends 'base.html.twig' %}
    {% block title %}
        Welcome {{ userName }}!
    {% endblock %}
    {% block body %}
        <p>
            Welcome {{ userName }}!
        </p>
    {% endblock %}